fastapi==0.135.1
uvicorn[standard]==0.42.0
pydantic-settings==2.13.1
sqlalchemy[asyncio]==2.0.48
asyncpg==0.31.0
psycopg2-binary==2.9.11
alembic==1.18.4
pgvector==0.4.2
geoalchemy2==0.18.4
redis==7.3.0
celery==5.6.2
httpx==0.28.1
biopython==1.86
PyMuPDF==1.27.2
tabula-py==2.10.0
python-multipart==0.0.22
